body{
    background-color:rgb(152, 200, 255);
    text-align:center;
    font-family:arial, sans-serif;
    color:#732dff
}
#wheaterApp{
    background-color:white;
    width:600px;
    height:1000px;
    border-radius:15px;
}
#title{
    position:relative;
    padding-top:3rem
}
#wheater{
    position:relative;
    background-color:blue;

    margin-left:20px;
    width:560px;
    height:200px;
    border-radius:15px;
    color:white;
}
#subtitle{
    padding-top:2rem;   
    font-weight:bold;
}
#degrees{
    font-size:20px;
    font-weight:bold;
    }#sunny{
    display: inline;
    background:orange;
    padding:7px;
    border-radius:15px;
    color:black;
}
#wheateralert{
    margin-left: 20px;
    margin-top:20px;
    width:560px;
    height:50px;
    border-radius:15px;
    border-left: 4px solid rgb(255, 115, 0);
    background:rgba(255, 166, 0, 0.274);
}
#wheateralerttext{
    color:rgb(134, 60, 0);
    font-size:small;
    padding-top: 15px
}span{
    font-weight:bold;
}
h3{
  text-align: left;
  padding-left: 20px;
  padding-bottom: 6px; /* adds space between text and border */
  border-bottom: 2px solid blue;
}
.days{
    background-color:black
}
#week{
    margin-left:20px;
    background-color:black;
    width:560px;
    height:250px
}