body{
    font-family:Arial, sans-serif;
}

#intro{
    color:red;
}

.highlight{
    background-color: yellow;
}

a{
    color:green;
    text-decoration:none;
    border: 1px solid green;
    padding:10px;
    border-radius:10px
}
a:hover{
    background-color:green;
    color:white;
}
.text.highlight{
    color:magenta;  
}