body{
font-family: arial,sans-serif;
}
a{
    float:right ;
    color:rgb(255, 255, 255);
    padding:10px;
    background: rgb(40, 40, 40);
    border-radius:15px;
    border:1px solid black;
    text-decoration: none;
}
a:hover{
    background-color:rgb(45,45,45);
}
a:active{
    background-color:rgb(50,50,50)
}